  @font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fuentes/dancing-script-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Dancing Script Regular'), local('DancingScript-Regular'),
       url('../fuentes/dancing-script-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fuentes/dancing-script-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fuentes/dancing-script-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fuentes/dancing-script-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fuentes/dancing-script-v10-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
}

body {
        font-family: 'Dancing Script';
        background-color: black;
        margin:2px;

      }
header  {
    width: 100%;
    background-color:#5b7989;

    color: white;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }
   h1  {
margin:auto;
text-shadow: 2px 2px #02010a;


   }
nav{

  margin-left: auto;

}
ul {

  list-style: none;

}
li{
  font-size: 20px;
  margin: 10px;
  display: inline;
}
.actual{
  text-decoration:none;
}
a {
  color:white;
}
section{
  margin: auto;

}

@media (min-width:768px)
  {
    #contenido
      {
        margin:auto;
        text-align: center;
        width:900px;
        -webkt-animation: movisamir 2s;
        animation: movisamir 2s;
      }
      header
      {
        display:flex;
      }
      #paisajesv>div{
        width:33.3%;
        float:left;
      }
      footer{
          display: flex;
      }
      footer>div{
        text-align:center;
        width:25%;
      }
      #secundario{
        background-color:  #d5c75f;
        display:flex;
      }
      #izquierda{

      text-align: center;


      }
      #izquierda>a>figure>img[src*="hipo"]:hover{
        -moz-transform:rotate(10deg);
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        box-shadow: #82c3a6;
        border:solid 2px;
      }
      #derecha>a>figure>img[src*="samir"]:hover{
        -moz-transform:translate(-5px,20px);
        -webkit-transform:translate(-5px,20px);
        transform:translate(20px,-5px);
        box-shadow: #82c3a6;
        border:solid 2px;
      }
  }
  @media (max-width:768px)
    {
      #contenido
        {
          margin:auto;
          width:100%;
          -webkt-animation: movisamir 2s;
          animation: movisamir 2s;

        }
        heeader{

          display:block;
        }
        nav{

          text-align: center;
        }
        h1{
          text-align: center;
        }
        #paisajesv>div{
          width:100%;
          float:left;
        }
        footer{
            margin:2px;
            padding-left:5px;
            display: block;
        }
        footer>div{
          text-align:left;
          width:100%;
        }
        #secundario>div{
        display:block;
        text-align: center;

        }

        #izquierda>a>figure>img[src*="hipo"]:hover{
          -moz-transform:rotate(10deg);
          -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
          box-shadow: #82c3a6;
          border:solid 2px;
        }
        #derecha>a>figure>img[src*="samir"]:hover{
          -moz-transform:translate(-5px,20px);
          -webkit-transform:translate(-5px,20px);
          transform:translate(20px,-5px);
          box-shadow: #82c3a6;
          border:solid 2px;
        }
    }
    #central{
      background-color:#82c3a6;

    }

    }

#derecha{
text-align: center;

}

img{
  width:70%;
  border-style: solid;
  border-width: 1px;
}
footer{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #C6d5c5;


}


p>img{
  width:10%;
  border: none;
}


}
@-webkit-keyframes movisamir{
  0%{margin-top:150%}
  60%{margin-top:-5% }
  100%{margin-top:0% }

}
@-moz-keyframes movisamir{
  0%{margin-top:150%}
  60%{margin-top:-5%}
  100%{margin-top:0%}

}
@keyframes movisamir{
  0%{margin-top:150%}
  60%{margin-top:-5%}
  100%{margin-top:0%}

}
#paisajesv{
float:left;
}


footer{
  clear: both;
}
#paisajes1>figure>img{
  -webkit-filter: blur(10px);
    filter: blur(10px);
}
#paisajesv>div:nth-child(2n+0){
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}


#paisajesv>div:nth-child(3){
  -webkit-filter: sepia(90%);
    filter: sepia(90%);

}
