  @font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fuentes/dancing-script-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Dancing Script Regular'), local('DancingScript-Regular'),
       url('../fuentes/dancing-script-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fuentes/dancing-script-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fuentes/dancing-script-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fuentes/dancing-script-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fuentes/dancing-script-v10-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
}

body {
        font-family: 'Dancing Script';
        background-color: black;

      }
header  {
    width: 100%;
    background-color:#5b7989;
    display: flex;
    color: white;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }
   h1  {
margin:auto;
text-shadow: 2px 2px #02010a;


   }
nav{

  margin-left: auto;

}
ul {

  list-style: none;

}
li{
  font-size: 20px;
  margin: 10px;
  display: inline;
}
.resaltado{
  text-decoration:none;
}
a {
  color:white;
}


@media (min-width:720px)
  {
    #contenido
      {
        margin:auto;
        width:900px;


      }
  }
  @media (max-width:720px)
    {
      #contenido
        {
          margin:auto;
          width:100%;


        }
    }
    #central{
      background-color:#82c3a6;

    }
    #secundario{
      background-color:  #d5c75f;
      display:flex;
    }
#izquierda{

}
#derecha{

}
img{
  width:100%;
  border-style: solid;
  border-width: 1px;
}
